
# Created by https://www.gitignore.io/api/linux,c++

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
myserver
myclient
newsserver
newsclient

# Visual Studio project files
*.vs
*.VC.opendb
*.suo
*.sdf
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Requirement files for Make
*.d

# Intellij project files
.idea/

# Latex files
*.aux
*.log
*.pdf

# Database
server/database
